*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 970px;
    background-color: pink ;
    margin: auto;
    padding: 10px
}
img{
    width: 70px;
}
#header,ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    color: rgb(173, 36, 36)
}
ul{
    width: 663px;
    flex: 2;

}

li{
    list-style: none;
    /* justify-content: space-between; */
    
}
h3{
    flex: 1;
}
a{
    text-decoration: none;
}